Bootstrap.css
Demo.css
Demo.html
StubCode.html

# This is a comment

# Push an existing repository from the command line
# git init
# git remote add origin https://github.com/X8-Nova-X8/Personal-Site.git
# git branch -M main
# git add .
# git commit -m "Fix margin to icon."
# git push -u origin main

# git status
# git log
# git diff css/styles.css
# git checkout css/styles.css

# How to solve this problem of "! [rejected] master -> master (fetch first)"
# First Do this ...

# git fetch origin master
# git merge  master

# Then, do this ...

# git fetch origin master:tmp
# git rebase tmp
# git push origin HEAD:master
# git branch -D tmp

# git branch --show-current
# git pull origin main
# git push -u origin main

